<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Rooms</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-blue-200 flex items-center justify-center h-screen">
    <div class="bg-white p-10 rounded-lg shadow-lg max-w-md">
        <h1 class="text-4xl font-semibold text-center mb-8 text-blue-800">Enter an Audio Room</h1>
        <div class="flex items-center mb-4">
            <input id="room-name-input" type="text" placeholder="Enter room name" class="flex-grow border-2 border-blue-500 rounded-l-lg py-2 px-4 focus:outline-none focus:border-blue-700 text-blue-700 placeholder-blue-500">
            <button id="room-name-submit" type="button" class="bg-blue-500 text-white px-8 py-2 rounded-r-lg hover:bg-blue-600 focus:outline-none">Join</button>
        </div>
        <p class="text-sm text-gray-600 text-center">Press Enter to submit</p>
    </div>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.key === 'Enter') {
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/audio/' + roomName + '/';
        };
    </script>
</body>
</html>
